html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    background: url("../img/hexellence.png");
    color: #555;
    /*#86E9FF;*/
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

a {
    color: rgb(126, 194, 80);
    font-style: italic;
    transition: 0.3s;
}

a:hover,
a:focus {
    color: rgb(91, 139, 59);
}

img {
    width: auto;
    max-width: 100%;
}

small {
    font-size: 22px;
}

.medium {
    font-size: 24px;
}

.red {
    color: rgb(249, 55, 136);
}

.main-header {
    position: absolute;
    width: 100%;
    height: 35px;
    background: #333;
    /* rgb(39, 172, 203) */
    display: flex;
    align-content: stretch;
    z-index: 1;
    opacity: 0.9;
}

.main-header h1 {
    flex: 1 0 0;
    align-self: center;
    font-size: 24px;
    padding: 3px;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    flex: 2 0 0;
    display: flex;
    align-content: stretch;
}

nav #step-counter {
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;
    list-style: none;
}

nav #step-counter li {
    flex: 1;
    display: flex;
    align-content: stretch;
    margin: 1px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
}

nav #step-counter li.active-step {
    background: rgba(163, 223, 123, 0.8);
}

nav #step-counter li a {
    flex: 1;
    background: none;
    opacity: 0;
}

h3 {
    color: black;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    width: 780px;
    padding: 10px;
    margin: 15px auto;
    background: #FFFFFF;
    color: rgb(67, 196, 226);
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 1000px;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0;
    transition: opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
}

.slide {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    width: 1000px;
    height: 700px;
    padding: 20px 40px;
    /*background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
    color: #555;
    /*86E9FF*/
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px;
    overflow-y: auto;
}

.slide > section {
    display: block;
    font-size: 40px;
    /*line-height: 72px;*/
    margin-top: 50px;
}

section ul {
    margin: 40px 20px;
    font-size: 30px;
}

section ul li {
    padding-bottom: 20px;
}

.links {
    padding-top: 50px;
}

.links a {
    display: block;
    margin: 10px;
}

#overview {
    display: none;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #EEE;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(400px);
    transition: opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint {
    display: block;
}

.impress-on-first .hint {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s 3s,         transform 0.5s 3s;
}

.question {
    font-family: monospace, sans-serif;
    text-align: center;
    font-size: 400px;
    line-height: 400px;
    -webkit-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
}

.aligning {
    background: url("../img/flexAlignment.jpg");
    max-width: 977px;
    height: 375px;
}

.hljs {
    color: #555;
    font-size: 26px;
}

.small {
    font-size: 26px;
    line-height: 26px
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
    }
}